@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply text-neutral-dark;
}

@keyframes animasi1 {
  from {
    opacity: 0;
    transform: translateX(2%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animasi2 {
  from {
    opacity: 0;
    transform: translatey(10%);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes animasi3 {
  from {
    opacity: 0;
    transform: translatex(-2%);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes animasi4 {
  from {
    opacity: 0;
    transform: translatey(-10%);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes animasi5 {
  from {
    opacity: 0;
    transform: translatey(-3%);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes animasi6 {
  from {
    opacity: 0;
    transform: translatey(3%);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

.animation1 {
  animation: animasi1 1.5s ease-in-out;
}

.animation2 {
  animation: animasi2 1.5s ease-in-out;
}

.animation3 {
  animation: animasi3 1.5s ease-in-out;
}

.animation4 {
  animation: animasi4 1.5s ease-in-out;
}

.animation5 {
  animation: animasi5 1.5s ease-in-out;
}
.animation6 {
  animation: animasi6 1.5s ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
}
